:root {
    --background-color: #000000;
    --primary-color: #ffffff;
    --on-primary-color: #000000;
    --secondary-color: #606060;
    --on-secondary-color: #ffffff;

    --font-family: 'IBM Plex Mono', monospace, sans-serif;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateX(-2em);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

body {
    align-items: center;
    background-color: var(--background-color);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
}

.wrap {
    width: 100%;
}

@media (min-width: 600px) {
    .wrap {
        width: 600px;
    }
}

.header {
    padding: 5em 0 0 2em;
}

.header__title {
    font-size: 2.5em;
}

.paragraph {
    color: var(--secondary-color);
    line-height: 1.5em;
    margin-top: 0.4em;
}

.link {
    color: var(--primary-color);
    text-decoration: none;
}

.link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.link::selection {
    background-color: rgba(0, 0, 0, 0);
}

.text-link:hover {
    text-decoration: underline;
}

.nav {
    padding-left: 1em;
}

.nav__link-list {
    list-style: none;
}

.nav__link-list-item {
    padding: 0.4em 0;
}

.link-divider {
    margin-left: 2em;
    max-width: 150px;
}

.main {
    padding: 2em;
}

.main__content {
    animation: 500ms ease-in-out fadein;
}

.email-canvas {
    cursor: pointer;
}

.projects__item {
    padding: 0.5em 0;
}

.projects__app-icon {
    float: left;
    margin-right: 1em;
    width: 64px;
}