:root {
    --background-color: #000000;
    --primary-color: #ffffff;
    --on-primary-color: #000000;
    --secondary-color: #606060;
    --on-secondary-color: #ffffff;

    --font-family: monospace, sans-serif;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateX(-2em);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

body {
    align-items: center;
    background-color: var(--background-color);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
}

.wrap {
    width: 100%;
}

@media (min-width: 600px) {
    .wrap {
        width: 600px;
    }
}

.header {
    padding: 5em 0 0 2em;
}

.header__title {
    font-size: 3em;
}

.paragraph {
    color: var(--secondary-color);
}

.text-link {
    color: var(--primary-color);
    text-decoration: none;
}

.text-link:hover {
    text-decoration: underline;
}

.nav {
    padding-left: 1em;
}

.nav__link-list {
    list-style: none;
}

.nav__link-list-item {
    padding: 0.4em 0;
}

.nav__link-list-link {
    color: var(--primary-color);
    text-decoration: none;
}

.nav__link-list-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.nav__link-list-link::selection {
    background-color: rgba(0, 0, 0, 0);
}

.link-divider {
    margin-left: 2em;
    max-width: 150px;
}

.main {
    padding: 2em;
}

.main__content {
    animation: 500ms ease-in-out fadein;
}

.form {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.form__label {
    display: flex;
    flex-direction: column;
    row-gap: 0.4em;
}

.text-input {
    background-color: var(--background-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-family: var(--font-family);
    font-size: 1em;
    outline: none;
    padding: 1em;
    resize: none;
}

.text-input::placeholder {
    color: var(--secondary-color);
}

.button {
    background-color: var(--background-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-family: var(--font-family);
    padding: 0.8em;
}

.button--submit {
    background-color: var(--primary-color);
    color: var(--on-primary-color);
    cursor: pointer;
    margin: 1em 0;
}

.button--submit:active {
    background-color: var(--secondary-color);
    color: var(--on-secondary-color);
}