* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

html {
    --dark-grey-color: #252525;
    --grey-color: #505050;
    --light-grey-color: #c0c0c0;
    --highlight-color: #4769da;
}

body {
    align-items: center;
    display: flex;
    font-size: 0.95em;
    flex-direction: column;
    margin: 2em;
}

main {
    max-width: 50em;
}

h1 {
    font-size: 1.5em;
}

h2 {
    color: var(--highlight-color);
    padding-bottom: 0.4em;
    font-size: 1em;
}

h4 {
    font-size: 1.1em;
    margin-top: 0.8em;
}

h5 {
    color: var(--highlight-color);
    font-size: 0.9em;
    margin: 0.2em 0;
}

address {
    display: flex;
    font-style: normal;
    margin: 0 0 1em 0;
}

@media (max-width: 700px) {
    address {
        flex-direction: column;
    }
}

a {
    color: var(--highlight-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

address>a {
    flex: 1;
}

section {
    margin-bottom: 2em;
}

section>hr {
    border: 0.1em solid black;
}

p {
    margin: 0.6em 0.2em 2em 0.2em;
}

h3,
h4,
p,
li {
    color: var(--dark-grey-color);
}

.date-range {
    color: var(--grey-color);
    font-size: 0.85em;
}

.date-range::before {
    content: '📅 ';
}

.experience {
    margin: 1em 0.2em;
}

.experience hr {
    border: 1px dashed var(--light-grey-color);
    margin-top: 2em;
}

ul {
    padding: 1em 0 0 2em;
}

ul>li {
    padding-left: 0.2em;
}