* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

html {
    --grey-color: #505050;
    --light-grey-color: #c0c0c0;
    --highlight-color: #d22e3e;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 2em;
}

main {
    max-width: 50em;
}

h1 {
    font-size: 1.5em;
}

h2 {
    color: var(--highlight-color);
    padding-bottom: 0.4em;
    font-size: 1em;
}

h4 {
    font-size: 1.2em;
    margin-top: 0.6em;
}

h5 {
    color: var(--highlight-color);
    font-size: 1em;
    margin-top: 0.2em;
}

address {
    display: flex;
    font-style: normal;
    margin: 0 0 1em 0;
}

@media (max-width: 480px) {
    address {
        flex-direction: column;
    }
}

a {
    color: var(--highlight-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

address>a {
    flex: 1;
}

section {
    margin-bottom: 2em;
}

section>hr {
    border: 0.1em solid black;
}

p {
    margin: 0.6em 0.2em 2em;
}

.date-range {
    color: var(--grey-color);
    font-size: 0.85em;
}

.date-range::before {
    content: '📅 ';
}

.experience {
    margin: 1em 0.2em;
}

.experience hr {
    border: 1px dashed var(--light-grey-color);
    margin-top: 1em;
}

ul {
    padding-left: 1.2em;
}

ul>li {
    padding-left: 0.4em;
}