@import url(animations.css);
@import url(variables.css);

body {
    align-items: center;
    background-color: var(--background-color);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    height: 100vh;
    margin: 0;
}

.theme-toggle {
    cursor: pointer;
    user-select: none;
    position: fixed;
    top: 1em;
    right: 1em;
}

.particle-canvas {
    position: fixed;
    z-index: -10;
}

.wrap {
    width: 100%;
}

@media (min-width: 600px) {
    .wrap {
        width: 600px;
    }
}

.header {
    padding: 5em 0 0 2em;
}

.header__title {
    font-size: 2.5em;
    user-select: none;
}

.paragraph {
    color: var(--secondary-color);
    line-height: 1.5em;
    margin-top: 0.4em;
}

.link {
    color: var(--primary-color);
    cursor: pointer;
    text-decoration: none;
    user-select: none;
}

.link:hover {
    text-decoration: underline;
}

.text-link:hover {
    text-decoration: underline;
}

.nav {
    padding-left: 1em;
}

.nav__link-list {
    list-style: none;
}

.nav__link-list-item {
    padding: 0.4em 0;
}

.link-divider {
    margin-left: 2em;
    max-width: 150px;
}

.main {
    padding: 2em;
}

.main__content {
    animation: 500ms ease-in-out fadein;
}

.main__section {
    margin-bottom: 3em;
}

.about__me-img {
    border-radius: 100%;
    float: left;
    object-fit: cover;
    height: 10em;
    margin: 0 1.5em 0.8em 0;
    width: 10em;
}

@media (max-width: 600px) {
    .about__me-img {
        float: none;
        display: block;
        margin: 0 auto 1.2em auto;
    }
}

.competence {
    align-items: center;
    column-gap: 1em;
    display: flex;
    flex-direction: row;
    margin: 1em 0;
}

.competence__label {
    width: 8em;
}

.meter {
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    flex: 1;
    height: 0.5em;
}

.meter__fill {
    animation: horexpand 500ms ease-in-out;
    background-color: var(--primary-color);
    border-radius: 8px;
    height: 100%;
}

.email {
    cursor: pointer;
}

.projects__item {
    padding: 0.5em 0;
}

.projects__app-icon {
    float: left;
    margin-right: 1em;
    width: 64px;
}